:root {
    --body-color:rgba(33, 33, 33, 1);
    --text-font-family: 'Roboto', sans-serif; 
}

/* the upper header of the page */

a.logo{
    width: 145px;   
    height: 31px;
    top: 24px;
    left: 215px;    
    font-family: Raleway;
    font-size: 1.625em;
    font-weight: 700;
    line-height: 1.937em;
    letter-spacing: 0.03em;
    text-align: left;
    color:#2196F3;}
    
.main-navigation ul a {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    font-family: var(--text-font-family);
    font-size: 0.875em;
    }
a.active {
    width: 259px;
    height: 16px;
    top: 32px;
    font-family: var(--text-font-family);
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(33, 150, 243, 1);
    }

.contact-mail{
    width: 135px;
    height: 16px;
    top: 32px;
    left: 1088px;
    display:inline-block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: right;
    color: rgba(117, 117, 117, 1);
    }
    .contact-tel{
  
        width: 135px;
        height: 16px;
        top: 32px;
        left: 900px;
        display:inline-block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: right;
        color: rgba(117, 117, 117, 1);
        }
    
/* main section */

.project-list {
    width: 1600px;
}

.buttons,.navi-header{
    list-style-type: none;
    padding:0;
    }
.button,.button-active,.head{
    display:inline-block;
    margin-right: 15px;
    width: 10%;
    list-style-type: none;
    padding: 0;
    margin:0;
}
.ul.projects {
    list-style-type: none;
    padding:0
}
.images{
    display:inline-block;
    width: 30%;
}

.button {
    color:var(--link-color);
    background-color:rgba(245, 244, 250, 1);
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.03em;
    }
.button-active {
    color:rgb(252, 252, 252);
    background-color:rgba(33, 150, 243, 1);
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625em;
    letter-spacing: 0.03em;
    text-align: center;
}
.button,.button-active,:hover
.button,.button-active,:focus{
color: blueviolet;
}

.projectstittle{
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align:right
}

.typeofproject {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
    text-align: center;
}

/*footer part of the page */

.footer{background-color:#2F303A;
}
.footerlogo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#2196F3
}
.location {
font-family: var(--text-font-family);
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
padding-right:1em;
}
.adress {
font-family:var(--text-font-family);
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color:#FFFFFF99
}

/*index html first page */

.container-header-container {
    width: 1600px;
    height: 80px;
    background-color: #FFFFFF;  
}

.navigation ul, .global-header  {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.navigation ul {

    height: 16px;
    top: 32px;
    left: 545px;
    list-style: none;
    display:flex;
    width : 450px;
    justify-content: space-evenly;

}

.global-aside {
    display:flex;
    flex-direction: column;
}

.main-content{
    text-align: center;
    width: 100%;
    top: 80px;
    left: 452px;
    background-color: #2F303A;
    color:white;
    padding: 40px 50px 100px;
}

.button-request {
    background: #2196F3;
    color:white;
    width: 200px;
    height: 50px;
    top: 430px;
    left: 700px;
    border-radius: 4px;
    font-family:'Roboto';
}
.container-advantages {
    width: 100%;
    height: 101px;
    top: 774px;
    align-content: center;
    margin-left: 60px;
}
.quality {
    display: inline-block;
    justify-content: space-between;
}
.principal-quality {
    display:flex;
    padding-left: 60px;
    width: 450px;
    height: 16px;
    top: 774px;
    left: 1115px;
}
.description-quality {
    padding-left: 60px;
    margin-bottom: 30px;
    display:flex;
    width: 200px;
    height: 75px;
    top: 800px;
    left: 1115px;
}

.team-portfolio{
    width: 100%;
    height: 101px;
    top: 969px;
    left: 215px;
    padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 400px;
}

.portfolio-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 56px;
    margin-top: 50px;
}
.portfolio-example {
    display:flex;
    justify-content: space-evenly;
}

.team{
    width: 100%;
    height: 648px;
    top: 1449px;
    padding-left: 80px;
    background-color: #F5F4FA;
}
.team-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 56px;
    margin-top: 100px;
}
    


.team-members{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
.footer{
width: 100%;
height: 251px;

}
